
# Ignore compiled files
*.exe
*.out
*.o
*.obj

# Ignore build or temp folders
/build/
bin/
Debug/
Release/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore .txt files
*.txt

# Ignore scripts files
*.py
*.bak
*.idea/
*.vscode/
*.gitignore